.home-container{
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  height: 100vh;
  padding: 2rem;

  font-size: 4rem;
}

.home-gamemods,
.home-settings{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
