<div class="page" id="categories">
  <div>
    <a href="/#/home/" class="btn-goto-home"></a>
  </div>
  <ul>
    <li>
      <a href="/#/question/" data-category="realism" class="btn-goto-category">realism</a>
    </li>
    <li>
      <a href="/#/question/" data-category="impressionism" class="btn-goto-category"
        >impressionism</a
      >
    </li>
    <li>
      <a href="/#/question/" data-category="religion" class="btn-goto-category">religion</a>
    </li>
    <li>
      <a href="/#/question/" data-category="portrait" class="btn-goto-category">portrait</a>
    </li>
    <li>
      <a href="/#/question/" data-category="renaissance" class="btn-goto-category">renaissance</a>
    </li>
    <li>
      <a href="/#/question/" data-category="painting" class="btn-goto-category">painting</a>
    </li>
    <li>
      <a href="/#/question/" data-category="landscape" class="btn-goto-category">landscape</a>
    </li>
    <li>
      <a href="/#/question/" data-category="marine" class="btn-goto-category">marine</a>
    </li>
    <li>
      <a href="/#/question/" data-category="avant-garde" class="btn-goto-category">avant-garde</a>
    </li>
    <li>
      <a href="/#/question/" data-category="surrealism" class="btn-goto-category">surrealism</a>
    </li>
    <li>
      <a href="/#/question/" data-category="romanticism" class="btn-goto-category">romanticism</a>
    </li>
    <li>
      <a href="/#/question/" data-category="expressionism" class="btn-goto-category"
        >expressionism</a
      >
    </li>
  </ul>
</div>
