<div class="categories-container" id="categories">
  <div class="categories-header">
    <a href="/#/home/" class="btn btn-primary btn-goto-home">🏠 to Home</a>
  </div>
  <ul class="categories-list">
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="realism"
        class="btn btn-secondary categories-link btn-goto-category"
        >realism</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="impressionism"
        class="btn btn-secondary categories-link btn-goto-category"
        >impressionism</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="religion"
        class="btn btn-secondary categories-link btn-goto-category"
        >religion</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="portrait"
        class="btn btn-secondary categories-link btn-goto-category"
        >portrait</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="renaissance"
        class="btn btn-secondary categories-link btn-goto-category"
        >renaissance</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="painting"
        class="btn btn-secondary categories-link btn-goto-category"
        >painting</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="landscape"
        class="btn btn-secondary categories-link btn-goto-category"
        >landscape</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="marine"
        class="btn btn-secondary categories-link btn-goto-category"
        >marine</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="avant-garde"
        class="btn btn-secondary categories-link btn-goto-category"
        >avant-garde</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="surrealism"
        class="btn btn-secondary categories-link btn-goto-category"
        >surrealism</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="romanticism"
        class="btn btn-secondary categories-link btn-goto-category"
        >romanticism</a
      >
    </li>
    <li class="categories-list-item">
      <a
        href="/#/question/"
        data-category="expressionism"
        class="btn btn-secondary categories-link btn-goto-category"
        >expressionism</a
      >
    </li>
  </ul>
</div>
