<div class="home-container" id="home">
  <div class="home-gamemods">
    <a
      href="/#/categories/"
      class="btn btn-primary btn-goto-categories btn-set-game-mode"
      data-gamemode="artists"
      >Художники</a
    >
    <a
      href="/#/categories/"
      class="btn btn-primary btn-goto-categories btn-set-game-mode"
      data-gamemode="pictures"
      >Картины</a
    >
  </div>
  <div class="home-settings">
    <a href="/#/settings/" class="btn btn-secondary btn-goto-settings">Настройки</a>
  </div>
</div>
