<div class="question-container" id="question">
  <div class="question-header">
    <a href="/#/home/" class="btn-goto-home">🏠 to Home</a>
    <span class="timer-value">00:00</span>
  </div>
  <div class="question-task">
    <h2 class="task-question">Вопрос</h2>
    <img src="./../../data/img/0.jpg" alt="" class="task-image" />
  </div>
  <div class="answers">
    <button class="task-answer btn btn-secondary">Ответ 1</button>
    <button class="task-answer btn btn-secondary">Ответ 2</button>
    <button class="task-answer btn btn-secondary">Ответ 3</button>
    <button class="task-answer btn btn-secondary">Ответ 4</button>
  </div>
</div>
