<div class="settings-container" id="settings">
  <div class="settings-options">
    <div class="settings-option">
      <span class="settings-option-label">Громкость</span>
      <div class="option-value-container">
        0
        <input
          type="range"
          min="0"
          max="100"
          step="1"
          class="input-volume input-range settings-option-value"
        />
        100
      </div>
    </div>
    <div class="settings-option">
      <span class="settings-option-label">Таймер</span>
      <input type="checkbox" class="input-enable-timer input-checkbox" id="timer-enable" />
      <label for="timer-enable"></label>
    </div>
    <div class="settings-option">
      <span class="settings-option-label">Время на ответ</span>
      <div class="option-value-container">
        0
        <input
          type="range"
          min="0"
          max="20"
          step="1"
          class="input-time-for-answer input-range settings-option-value"
        />
        20с
      </div>
    </div>
  </div>
  <div class="settings-nav">
    <a href="/#/home/" class="btn btn-primary btn-goto-home btn-save-settigs">Сохранить</a>
    <button class="btn btn-secondary btn-goto-home btn-reset-settigs">Сброс</button>
  </div>
</div>
