<div class="page" id="settings">
  <label>
    Громкость:
    <input type="range" min="0" max="100" step="1" class="input-volume" />
  </label>
  <label>
    Таймер:
    <input type="checkbox" class="input-enable-timer" />
  </label>
  <label>
    Время на ответ:
    <input type="range" min="0" max="20" step="1" class="input-time-for-answer" />
  </label>
  <div>
    <a href="/#/home/" class="btn-goto-home btn-save-settigs">Сохранить</a>
    <button class="btn-goto-home btn-reset-settigs">Сброс</button>
  </div>
</div>
